body {
    text-align: center;
    color: rgb(50, 188, 206);
    background-color: blueviolet;
}

.quadrado {
    text-align: center;
    width: 50px;
    background: rgb(172, 85, 150);
    display: inline-block;
    padding: 40px;
    font-size: 60px;
    margin: 5px;
    cursor: pointer;
    color: rgb(172, 85, 150);
}

.jogador, .vencedor {
    font-size: 30px;
    margin-top: 10px;
}

button {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    background: rgb(114, 48, 189);
    cursor: pointer;
    color:azure;

}